 *{
  padding: 0;margin: 0;box-sizing: border-box;
 }
 body{
  background-color: rgb(127, 100, 235);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .box{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }